body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #1a1a1a, #333); 
  color: #f1c40f;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-app {
  background-color: #262626;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  max-width: 500px;
  width: 100%;
  text-align: center;
  color: #f1c40f;
}

h1 {
  margin-bottom: 20px;
  color: #f1c40f;
}

.input-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #f1c40f;
  background-color: #1a1a1a;
  color: #f1c40f;
  width: 70%;
  border-radius: 5px;
}

input::placeholder {
  color: #f1c40f;
}

button {
  padding: 10px;
  border: none;
  background-color: #f1c40f;
  color: #1a1a1a;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  margin: .22rem;
}

button:hover {
  background-color: #e2b607;
}

button:disabled {
  background-color: #999;
  color: #444;
  cursor: not-allowed;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  background-color: #333;
  border: 1px solid #444;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed span {
  text-decoration: line-through;
  color: #999;
}

li span {
  flex-grow: 1;
  margin-right: 10px;
  color: #f1c40f;
}

li input[type="text"] {
  flex-grow: 1;
  padding: 5px;
  border: none;
  background-color: #1a1a1a;
  color: #f1c40f;
  border-radius: 5px;
}

li input[type="text"]::placeholder {
  color: #f1c40f;
}
